.project:hover .project-name {
  width: 100%;
  height: 50%;
  color: rgb(37, 41, 42);
  align-items: center;
  background: linear-gradient(to bottom, rgb(241, 248, 249), rgb(30, 89, 122));
  transition: all 0.5s;
  mix-blend-mode: normal;
}
